.allcaja{
    display: flex;
    flex-direction: column;
  
    }

    .caja2{
        background-color: yellow;
        width: 120%;
        height: 15px;
        border:red; 
        border-radius: 6cm;
        top: 150px;
        position: absolute;
          }