.allcaja{
    display: flex;
    flex-direction: column;
  
    }

    .caja2{
        background-color: purple;
        width: 90%;
        height: 10px;
        border:pink; 
        border-radius: 2cm;
        top: 140px;
        position: absolute;
          }