.allcaja{
    display: flex;
    flex-direction: column;
  
    }

    .caja2{
        background-color: violet;
        width: 90%;
        height: 10px;
        border:black; 
        border-radius: 1.5cm;
        top: 132px;
        position: absolute;
          }